$margin-10: 10px;
$padding-15: 15px;

.activity-component-container {
  .activity-component-container {
    margin: $margin-10 !important;
  }

  .activity-list-item {
    padding: $padding-15 0px !important;
  }
}
