/* .responsive-primary-container {
  background-image: url("../static/images/evi.png") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
} */

.responsive-primary-container {
  background-color: #659318 !important;
}

.default-header {
  background-color: green !important;
}

.default-header .item a {
  color: white !important;
}

.default-header.inverted  {
  background-color: silver !important;
}

.default-header.inverted .item a {
  color: black !important;
}

.homepage-heading-wrapper {
  min-height: 700px;
  padding: 1em 0em;
}
